/* Color Theme Swatches in Hex */
.árbol-en-las-manos-1-hex { color: #497320; }
.árbol-en-las-manos-2-hex { color: #3E5916; }
.árbol-en-las-manos-3-hex { color: #88A61C; }
.árbol-en-las-manos-4-hex { color: #C8D98B; }
.árbol-en-las-manos-5-hex { color: #734F30; }

/* Color Theme Swatches in RGBA */
.árbol-en-las-manos-1-rgba { color: rgba(73, 114, 32, 1); }
.árbol-en-las-manos-2-rgba { color: rgba(62, 89, 22, 1); }
.árbol-en-las-manos-3-rgba { color: rgba(135, 165, 28, 1); }
.árbol-en-las-manos-4-rgba { color: rgba(199, 216, 138, 1); }
.árbol-en-las-manos-5-rgba { color: rgba(114, 79, 48, 1); }

/* Color Theme Swatches in HSLA */
.árbol-en-las-manos-1-hsla { color: hsla(90, 56, 28, 1); }
.árbol-en-las-manos-2-hsla { color: hsla(84, 59, 21, 1); }
.árbol-en-las-manos-3-hsla { color: hsla(73, 70, 38, 1); }
.árbol-en-las-manos-4-hsla { color: hsla(73, 50, 69, 1); }
.árbol-en-las-manos-5-hsla { color: hsla(28, 40, 31, 1); }

.backgroundLogin{
    background-image: radial-gradient(#88a61c 2px, transparent 2px), radial-gradient(#88a61c 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #e8f0cc;
}
.nav-item{
    color:#503926;
    align-items:flex-end;
}
span{
    color:#503926;
    align-items:flex-end;
}
.navbar-brand{
    color:#503926;
}
#navCollections{
    color: #503926;
}
#nav{
    background-color: #C8D98B;
}
.bodyLog {
    margin: 20%;
    width: 250px;
    background-color:#497320;
    padding: 15px;
    border-radius: 10%;
   }
.bodyLog label{
    color:aliceblue
} 
.btn-secondary{
    background-color: #C8D98B;
    border-color: #C8D98B;
    color: #3E5916;
}
.btn:hover{
    background-color: #503926;
    border-color: #503926;
    color:#f2fde2;
}
.btn{
    background-color: #C8D98B;
    border-color: #C8D98B;
    color: #3E5916;
}
#formLoginMessage{
    color:aliceblue;
}
#imgCart{
    border-radius: 20%;
}
#titleNav{
    color:#503926;
    font-family: "Rye", serif;
    font-weight: 400;
    font-size: 2.2rem;
    font-style: normal; 
}
#titleProds{
    padding: 2%;
    text-align: center;
    color:#503926;
    font-family: "Rye", serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
}
/*/revisar/*/
#cart .card .me-4 {
    width: 180px;
    overflow: hidden;
    height: 120px;
    display: flex;
    align-items: center;
    border-radius: 5px;
   }
#cart .card .me-4 img {
    width: 100%;
   }
.stybtn{
    background-color: #497320;
    border-color: #C8D98B;
    color: #f2fde2;
    border-radius: 20% ;
}